In [2]:
import pymysql

In [ ]:
my_connect=pymysql.connect("localhost","root","","employee")

cursor=my_connect.cursor()
sql=""" create table emp(
emp_id INT(11) PRIMARY KEY AUTO_INCREMENT,
emp_name VARCHAR(50),
emp_age INT(10)
)"""
cursor.execute(sql)
my_connect.close()

In [3]:
my_connect=pymysql.connect("localhost","root","","employee")
cursor=my_connect.cursor()
sql="""
INSERT INTO emp(emp_name,emp_age) VALUES ('atul',29)
"""
cursor.execute(sql)
my_connect.commit()
my_connect.close()

In [5]:
my_connect=pymysql.connect("localhost","root","","employee")
cursor=my_connect.cursor()
sql="""
INSERT INTO emp(emp_name,emp_age) VALUES ('Punit',20)
"""
sql1="""
INSERT INTO emp(emp_name,emp_age) VALUES ('chandan',21)
"""
sql2="""
INSERT INTO emp(emp_name,emp_age) VALUES ('Amit',21)
"""
cursor.execute(sql)
cursor.execute(sql1)
cursor.execute(sql2)
my_connect.commit()
my_connect.close()

In [4]:
my_connect=pymysql.connect("localhost","root","","employee")
cursor=my_connect.cursor()
retrive_sql="SELECT * FROM emp"
cursor.execute(retrive_sql)
rows=cursor.fetchall()

for data in rows:
    print(data)

my_connect.commit()

(1, 'jayendra', 19)
(5, 'jayendra', 19)
(6, 'Punit', 20)
(9, 'atul', 29)

In [6]:
my_connect=pymysql.connect("localhost","root","","employee")
cursor=my_connect.cursor()
name='jayendra'
cursor.execute("SELECT * FROM emp WHERE emp_name=%s",name)
emp_id,emp_name,emp_age=cursor.fetchone()

print("Employee id is ",emp_id)
print("Employee name is ",emp_name)
print("Employee age is ",emp_age)

Employee id is  1
Employee name is  jayendra
Employee age is  19

In [7]:
my_connect=pymysql.connect("localhost","root","","employee")
cursor=my_connect.cursor()
sql="SELECT * FROM emp where emp_name='jayendra'"
cursor.execute(sql)
cursor.fetchmany(2)

((1, 'jayendra', 19), (5, 'jayendra', 19))

In [9]:
my_connect=pymysql.connect("localhost","root","","employee")
cursor=my_connect.cursor()
sql="UPDATE emp set emp_name='punu' Where emp_id=2"
cursor.execute(sql)
my_connect.commit()
print(cursor.rowcount,"record(s) affected")

0 record(s) affected

In [12]:
my_connect=pymysql.connect("localhost","root","","employee")
cursor=my_connect.cursor()
sql="Delete from emp where emp_name = 'punu'"
cursor.execute(sql)
my_connect.commit()
print(cursor.rowcount,"record(s) affected")

1 record(s) affected