In [7]:
a = 2

In [8]:
id(a)

140721072808368

In [9]:
def add(a,b):
    res = a+b
    print(res)
no1=int(input("enter a no1:"))
no2=int(input("enter a no2:"))
add(no1,no2)

enter a no1:2
enter a no2:4
6

In [10]:
def greet(name,age):
    print("name is :",name)
    print("age is :",age)
d1=input("enter your name:")
d2=input("enter your age: ")
greet(d1,d2)

enter your name:bhavesh
enter your age: 19
name is : bhavesh
age is : 19

In [1]:
def greet(name,age=18):
    print("name is :",name)
    print("age is :",age)
greet("test")

name is : test
age is : 18

In [4]:
def greet(n="jayendra",a=20,l="mumbai"):
    print("your name is : ",n)
    print("your age is : ",a)
    print("your loc is : ",l)
greet("chandan")

your name is :  chandan
your age is :  20
your loc is :  mumbai

In [8]:
def add(*a):
    c=0
    for i in a:
        c=c+i
    print("addition is : ",c)
add(1,2,3,4,5,6,7,8,9,10)

addition is :  55

In [2]:
def mul(*a):
    c=1
    for i in a:
        c=c*i
    print("mul is : ",c)
    
mul(1,2,3,4,5,6,7,8,9,10)

mul is :  3628800

In [12]:
def data(**a):
    for k,v in a.items():
        print("key is ",k," and ","value is ",v)
data(name="jayendra",loc="mumbai")

key is  name  and  value is  jayendra
key is  loc  and  value is  mumbai

In [18]:
a="jayendra"
def data():
    b="chandan"
    print(b)
data()
print(a)

chandan
jayendra

In [2]:
def data():
    b="chandan"
    print(b)
data()

chandan

In [4]:
sqr=lambda x:x*x
sqr(3)

9

In [5]:
mult=lambda x,y:x*y
mult(2,3)

6

In [8]:
a=[1,2,3,4]
res=map(lambda x:x*x,a)
# print(list(res))
for i in res:
    print(i)

1
4
9
16

In [10]:
b=[2,3,5,6]
art=map(lambda x:x*x,b)
for r in art:
    print(r)

4
9
25
36

In [11]:
b=[1,2,3,4,5,6]
res=filter(lambda x:x%2==0,b)
print(list(res))

[2, 4, 6]

In [12]:
c=[4,6,7,9,12]
ser=filter(lambda a:a%3==0,c)
for a in ser:
    print(a)

6
9
12