In [2]:
class Employee():
    pass

In [3]:
emp1=Employee()
emp2=Employee()
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000019114B53308>
<__main__.Employee object at 0x0000019114B532C8>

In [5]:
emp1.name="jayendra"
emp1.age=20
emp1.location="bhandup"
emp2.name="punit"
emp2.age=27
emp2.location="mumbai"

In [6]:
print(emp1.name)
print(emp1.age)
print(emp1.location)
print(" ")
print(emp2.name)
print(emp2.age)
print(emp2.location)

jayendra
20
bhandup

punit
27
mumbai

In [23]:
class Employee():
    raise_amount=2
    self.first_name=first_name
        def __init__(self,first_name,last_name,age,location,salary):
        self.last_name=last_name
        self.age=age
        self.location=location
        self.salary=salary
        self.email=first_name+"@gmail.com"
    
    def full_name(self):
        return self.first_name+" "+self.last_name
    
    def raise_salary(self):
        self.salary=self.salary*self.raise_amount
        print("Raise salary is :",self.salary)

In [24]:
emp1=Employee("jayendra","mishra",20,"bhandup",5000)
emp2=Employee("punit","k",27,"mumbai",10000)

In [26]:
emp1.raise_salary()

Raise salary is : 10000

In [27]:
print(emp1.first_name)
print(emp1.last_name)
print(emp1.age)
print(emp1.location)
print(emp1.salary)
print(emp1.email)
print(" ")
print(emp2.first_name)
print(emp2.last_name)
print(emp2.age)
print(emp2.location)
print(emp2.salary)
print(emp2.email)

jayendra
mishra
20
bhandup
10000
jayendra@gmail.com

punit
k
27
mumbai
10000
punit@gmail.com

In [28]:
print(emp1.salary)

10000

In [29]:
emp1.raise_Salary=4
emp1.raise_salary()

Raise salary is : 20000

In [30]:
print(emp1.salary)

20000

In [1]:
class student():
    def __init__(self,fname,lname,stream,roll_no,year):
        self.fname=fname
        self.lname=lname
        self.stream=stream
        self.roll_no=roll_no
        self.year=year
        
    def full_name(self):
        fullname=self.fname+' '+self.lname
        print(fullname)

In [2]:
stu1=student('jayendra','mishra','bsc',53,2020)

In [3]:
stu1.full_name()

jayendra mishra

In [13]:
class Employee():
    raise_amount=3
    def __init__(self,fname,lname,desgn,salary):
        self.fname=fname
        self.lname=lname 
        self.desgn=desgn 
        self.salary=salary
    
    def full_name(self):
        return self.fname +' '+self.lname
    
    def apply_raise(self):
        self.salary=self.salary*self.raise_amount
        
    @classmethod
    
    def set_raise_amount(cls,amount):
        cls.raise_amount=amount

In [2]:
from abc import ABC,abstractmethod

class cal(ABC):
    
    @abstractmethod
    def add(self):
        pass
    
    @abstractmethod
    def sub(self):
        pass
    
    @abstractmethod
    def mul(self):
        pass
    
    @abstractmethod
    def div(self):
        pass

class calculation(cal):
    def add(self):
        print(2+1)
    def sub(self):
        print(2-1)
    def mul(self):
        print(2*3)
    def div(self):
        print(4/2)
cal1=calculation()
cal1.add()
cal1.sub()
cal1.mul()
cal1.div()

3
1
6
2.0

In [14]:
emp1=Employee('jayendra',"mishra","se",10000)

In [15]:
emp1.salary

10000

In [16]:
emp1.raise_amount

3

In [17]:
emp1.apply_raise()

In [18]:
emp1.salary

30000

In [19]:
emp1.set_raise_amount(4)

In [20]:
emp1.salary

30000

In [26]:
import datetime
class Employee():
    raise_amount=2
    
    def __init__(self,fname,lname,pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay
    def full_name(self):
        return fname+" "+lname
    def apply_raise(self):
        self.pay=self.pay*raise_amount
    
    @classmethod
    def set_raise_amount(cls,amount):
        cls.raise_amount=amount
        
    @staticmethod
    def is_weekday(day):
        if day.weekday()==5 or day.weekday()==6:
            print("it's holiday")
        else:
            print("it's working day")

In [27]:
e1=Employee("jayendra","mishra",5000)

In [28]:
print(e1.pay)

5000

In [30]:
my_date=datetime.date(2020,1,20)
e1.is_weekday(my_date)

it's working day

In [1]:
class employee():
    def __init__(self,fname,lname,pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay

    def full_name(self):
        return self.fname+" "+self.lname
    
class developer(employee):
    def __init__(self,fname,lname,pay,programer):
        super().__init__(fname,lname,pay)
        self.programer=programer

In [2]:
d1=developer("jayendra","mishra",5000,"python")

In [3]:
d1.programer

'python'

In [4]:
d1.full_name()

'jayendra mishra'

# Example:2

In [17]:
class Person:
    def __init__(self,fname,lname,age):
        self.fname=fname
        self.lname=lname
        self.age=age
        
    def display(self):
        print("your Full name is:",self.fname+' '+self.lname)
        print("your age is:",self.age)
        
class Location(Person):
    def __init__(self,fname,lname,age,location):
        Person.__init__(self,fname,lname,age)
        self.location=location

In [21]:
data1=Location("jayendra","mishra",20,"bhandup")

In [22]:
data1.display()

your Full name is: jayendra mishra
your age is: 20

In [26]:
class Parent:
    def __init__(self):
        print("I am parent!!!")
        
class child1:
    def __init__(self):
        print("I am child1!!!")
        
class child2:
    def __init__(self):
        child1.__init__(self)
        Parent.__init__(self)
    
    def parent_data(self):
        print("I am child2!!!")

In [27]:
ch2=child2()

I am child1!!!
I am parent!!!

In [28]:
ch2.parent_data()

I am child2!!!

In [1]:
class Grandfather:
    def __init__(self):
        print("i am grandfather")
        
class Father(Grandfather):
    def __init__(self,name,age):
        Grandfather.__init__(self)
        self.name=name
        self.age=age
        print("i am father")
        
    def display(self):
        print(self.name,self.age)
        
class Grandchild(Father):
    def __init__(self,name,age,address):
        Father.__init__(self,name,age)
        self.address=address
        
        def disp_add(self):
            return self.address

In [2]:
g=Grandchild("jayendra",20,"mumbai")

i am grandfather
i am father

In [3]:
g.display()

jayendra 20

# Hierarchical Inheritance

In [12]:
class Parent:
    def fun1(self):
        print("i am parent")
        
class Child1(Parent):
    def fun2(self):
        print("i am child1")
        
class Child2(Parent):
    def fun3(self):
        print("i am child2")

In [13]:
obj1=Child1()

In [14]:
obj2=Child2()

In [16]:
obj1.fun1()

i am parent

In [18]:
obj1.fun2()

i am child1

In [19]:
obj2.fun1()

i am parent

In [20]:
obj2.fun3()

i am child2

# Hybrid Inheritance

In [21]:
class Parent:
    def fun1(self):
        print("i am parent")
        
class Child1(Parent):
    def fun2(self):
        print("i am child1")
        
class Child3(Child2,Parent):
    def fun4(self):
        print("i am child3")
        
class Child2(Parent):
    def fun3(self):
        print("i am child2")
        
class Child3(Child2,Parent):
    def fun4(self):
        print("i am child3")

In [22]:
obj1=Child3()

In [23]:
obj1.fun1()

i am parent

In [24]:
obj1.fun3()

i am child2

In [25]:
obj1.fun4()

i am child3

# Polymorphism

class India:
    def capital(self):
        print("Delhi is capital of india")
    def language(self):
        print("Hindi is commom language in india")
    def economic(self):
        print("India is fastest growing economic")
        
class Germany:
    def capital(self):
        print("Berline is capital of germany")
    def language(self):
        print("English is commom language in germany")
    def economic(self):
        print("Germany is leading economic")

In [3]:
ind=India()
ger=Germany()

In [5]:
ind.capital()
ger.capital()
ind.language()
ger.language()
ind.economic()
ger.economic()

Delhi is capital of india
Berline is capital of germany
Hindi is commom language in india
English is commom language in germany
India is fastest growing economic
Germany is leading economic

# Polymorphism with Inheritance

In [8]:
class Mobile:
    def brand_value(self):
        print("All company a don't have brand value of trillion dollar")
class Apple:
    def name(self):
        print("Name of the company is Apple")
    def brand_value(self):
        print("Apple company have brand value of trillion dollar")
class Mi:
    def name(self):
        print("Name of the company is mi")
    def brand_value(self):
        print("Mi company don't have brand value of trillion dollar")

In [10]:
mobile=Mobile()
apple=Apple()
mi=Mi()

In [13]:
mobile.brand_value()
apple.brand_value()
mi.brand_value()

All company a don't have brand value of trillion dollar
Apple company have brand value of trillion dollar
Mi company don't have brand value of trillion dollar

# Method overriding

In [14]:
class Vehicle:
    def vehicle(self):
        print("there are many type of vehicle")
    def speed(self):
        print(" they have diffrent speed")
        
class car(Vehicle):
    def speed(self):
        print("speed of car is 500 kmhr")

class bike(Vehicle):
    def speed(self):
        print("speed of bike is 200 kmhr")
        
class cycle(Vehicle):
    def speed(self):
        print("speed of cycle is 40 kmhr")

In [15]:
v1=Vehicle()
c1=car()
b1=bike()
c2=cycle()

In [17]:
c2.speed()

speed of cycle is 40 kmhr

# Method Overloading

In [6]:
# Python don't support method overloading.It is interpreted language

In [2]:
def add(a,b):
    res =a+b
    print(res)

In [3]:
def add(a,b,c):
    res =a+b+c
    print(res)

In [5]:
add(1,2,3)

6

# Encapsulation

In [3]:
#we have to call the protected variable by using "_" .Without "_" it will show error.

In [1]:
class Base:
    def __init__(self):
        self._a=2  #protected variable
class Derived(Base):
    def __init__(self):
        Base.__init__(self)
        print("calling protected member of base class")
        print(self._a)

In [2]:
b=Base()
print(b._a)
d=Derived()

2
calling protected member of base class
2

In [1]:
class Car:
    def __init__(self):
        self.__updatedcar()
    def drive(self):
        print("the car is driving")
    def __updatedcar(self):
        print("updating software")

In [5]:
obj=Car()

updating software

In [2]:
class Vehicle:
    
    __maxspeed=0
    __name=""
    
    def __init__(self):
        self.__maxspeed=350
        self.__name="BMW"
        
    def drive_detail(self):
        print("Car name is ",self.__name,"Speed is ",self.__maxspeed)

In [3]:
obj=Vehicle()

In [4]:
obj.drive_detail()

Car name is  BMW Speed is  350

## Decorators

In [31]:
def first(msg):
    print(msg)


first("Hello")

second = first
second("Hello")

Hello
Hello

In [1]:
def shout(text):
	return text.upper()

def whisper(text):
	return text.lower()

def greet(func):
	greeting = func("""Hi, I am created by a function passed as an argument.""")
	print (greeting)

greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [1]:
def add(a,b):
    return (a+b)

def sub(a,b):
    return (a-b)
    
def cal(value):
    a=3;b=2
    calc=value(a,b)
    print(calc)
    
cal(add)
cal(sub)

5
1

## Generator

In [3]:
def top():
    yield 5

value=top()
print(value)
print("value is : ",value.__next__())

<generator object top at 0x000002516B1B6A50>
value is :  5

In [2]:
def vowels():
    yield "a"
    yield "e"
    yield "i"
    yield "o"
    yield "u"

for i in vowels():
    print(i)

a
e
i
o
u

In [4]:
def square():
    for a in range(0,11):
        sq=a**2
        yield sq
        
value=square()

for i in value:
    print(i)

0
1
4
9
16
25
36
49
64
81
100

## Getter and Setter

In [3]:
class Geeks:
	def __init__(self):
		self._age = 0
        
	@property
	def age(self):
		print("getter method called")
		return self._age

	@age.setter
	def age(self, a):
		if(a < 18):
			raise ValueError("Sorry you age is below eligibility criteria")
		print("setter method called")
		self._age = a

mark = Geeks()

mark.age = 19

print(mark.age)

setter method called
getter method called
19