In [1]:
import pandas as pd

## Series

In [3]:
pd.__version__

'1.1.3'

In [5]:
l1=[1,2,3,4,'data value']
print(l1)

[1, 2, 3, 4, 'data value']

In [19]:
s1=pd.Series(l1)
print(l2)

0             1
1             2
2             3
3             4
4    data value
dtype: object

In [20]:
s2=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(l3)
print(" ")
print(l3[0:2])

a    1
b    2
c    3
d    4
dtype: int64

a    1
b    2
dtype: int64

In [21]:
s3=pd.Series({'a':1,'b':2})
print(s3)
print(s3[0])

a    1
b    2
dtype: int64
1

In [29]:
s4=pd.Series([1,2,3,4])
s5=pd.Series([10,9,8,7])
print(s4)
print(s5)

0    1
1    2
2    3
3    4
dtype: int64
0    10
1     9
2     8
3     7
dtype: int64

## Dataframe

In [30]:
l1=['a','b','c','d']
df1=pd.DataFrame(l1)

In [32]:
df1

   0
0  a
1  b
2  c
3  d

In [34]:
ls_of_ls=[[1,2,3],[4,5,6],[7,8,9]]
df2=pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [39]:
dict1={'ID':[1,2,3,4],'SN':[1,2,3,4]}
dict1

{'ID': [1, 2, 3, 4], 'SN': [1, 2, 3, 4]}

In [40]:
df3=pd.DataFrame(dict1)
df3

   ID  SN
0   1   1
1   2   2
2   3   3
3   4   4

In [46]:
dict2=[{'a':1,'b':2},{'a':5,'b':6,'c':9}]
dict2

[{'a': 1, 'b': 2}, {'a': 5, 'b': 6, 'c': 9}]

In [47]:
df4=pd.DataFrame(dict2)
df4

   a  b    c
0  1  2  NaN
1  5  6  9.0